In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
url = "https://raw.githubusercontent.com/ConorHogan/FODA-Project/master/GDPperCountry.csv"
gdp_percountry = pd.read_csv(url)

In [3]:
gdp_percountry

         Continent                  Country_Territory  Per_Cap_GDP_Nom_Dollars
0             Asia                              Macau                    77111
1             Asia                          Hong Kong                    46080
2           Europe                         Luxembourg                   105863
3           Europe                        Switzerland                    80637
4           Europe                             Norway                    75389
5           Europe                            Iceland                    70248
6           Europe                            Ireland                    68710
7             Asia                              Qatar                    61024
8    North_America                      United States                    59792
9             Asia                          Singapore                    57713
10          Europe                            Denmark                    56630
11          Europe                          Australia                    55692
12          Europe                             Sweden                    52925
13          Europe                        Netherlands                    48555
14          Europe                         San Marino                    47595
15          Europe                            Austria                    47347
16          Europe                            Finland                    45927
17   North_America                             Canada                    45094
18          Europe                            Germany                    44769
19          Europe                            Belgium                    43488
20         Oceania                        New Zealand                    41572
21            Asia                             Israel                    40272
22          Europe                             France                    39932
23          Europe                     United Kingdom                    39800
24            Asia                              Japan                    38448
25            Asia               United Arab Emirates                    37732
26          Europe                              Italy                    31996
27   North_America                            Bahamas                    31660
28            Asia                        South Korea                    29938
29          Europe                              Spain                    28358
..             ...                                ...                      ...
160         Africa                            Senegal                     1038
161         Africa                           Tanzania                     1034
162         Africa                            Eritrea                      980
163         Africa                           Ethiopia                      873
164           Asia                              Nepal                      834
165         Africa                              Benin                      830
166           Asia                         Tajikistan                      824
167         Africa                               Mali                      811
168         Africa                               Chad                      810
169         Africa                      Guinea-Bissau                      794
170         Africa                            Comoros                      788
171  North_America                              Haiti                      784
172         Africa                             Rwanda                      772
173  South_America                             Guinea                      749
174         Africa                            Liberia                      729
175         Africa                             Uganda                      699
176         Africa                       Burkina Faso                      664
177         Africa                               Togo                      611
178           Asia                        Afghanistan                      588
179           Asia                              Yemen                      551
180         Africa                       Sierra Leone                      491
181         Africa                        Gambia, The                      480
182         Africa   Democratic Republic of the Congo                      478
183         Africa                         Madagascar                      448
184         Africa                              Niger                      440
185         Africa                         Mozambique                      429
186         Africa           Central African Republic                      387
187         Africa                             Malawi                      324
188         Africa                            Burundi                      312
189         Africa                        South Sudan                      228

[190 rows x 3 columns]

## 1.0 Intro to Box Plots

Method for graphically depicting groups of numerical data through their quartiles

*Key Elements of a box-plot:*
* May include "whiskers" showing variability outside upper and lower quartiles
* Outliers may be plotted as individual points
* Non parametric in that they show variations in samples of population without making assumptions on distribution
* Spacings within the box show "dispersion" and "skewness" of data
* Allow the viewer to visually estimate L-estimators
    * Interquartile range
    * Midhinge 
    * Range
    * Mid-Range
    * Trimean
* The band within the box represents the median or second quartile
* Width of the individual boxes is generally used to describe the size of the group it represents. Usually the width is the square route of the group size.

### 1.1 Inventor of the boxplot

The boxplot was first created by John Turkey, an American Mathemtician and brother in law of one the key players in our previous project; Frank Anscombe. He introduced in his book *"Explaratory Data Analysis"* published in 1977.

*"Among Tukey's most far-reaching contributions was his development of techniques for "robust analysis," an approach to statistics that guards against wrong answers in situations where a randomly chosen sample of data happens to poorly represent the rest of the data set. Tukey also pioneered approaches to exploratory data analysis, developing graphing and plotting methods that are fixtures of introductory statistics texts, and authored many publications on time series analysis and other aspects of digital signal processing that have become central to modern engineering and science."* - Obituary of John Tukey - Princeton https://pr.princeton.edu/news/00/q3/0727-tukey.htm

### 1.2 Key Terminology

#### 1.2.1 Quartiles & Quartile Range

A quartile can be defined as *"each of four equal groups into which a population of results can be devided"*. The quartiles are found by first identifing the median or the midpoint value of a dataset. You can then get the quartiles, by finding the medians of the two halves either side of the main median.

#### 1.2.1.1 Finding the Median

If there data you are looking has an even amount of numbers, the median can be found by getting the average of the two middle numbers in the range.

For example, let look at GDPs in Europe:

In [4]:
europe_set = gdp_percountry.loc[gdp_percountry["Continent"]=="Europe"]
europe_set

    Continent        Country_Territory  Per_Cap_GDP_Nom_Dollars
2      Europe               Luxembourg                   105863
3      Europe              Switzerland                    80637
4      Europe                   Norway                    75389
5      Europe                  Iceland                    70248
6      Europe                  Ireland                    68710
10     Europe                  Denmark                    56630
11     Europe                Australia                    55692
12     Europe                   Sweden                    52925
13     Europe              Netherlands                    48555
14     Europe               San Marino                    47595
15     Europe                  Austria                    47347
16     Europe                  Finland                    45927
18     Europe                  Germany                    44769
19     Europe                  Belgium                    43488
22     Europe                   France                    39932
23     Europe           United Kingdom                    39800
26     Europe                    Italy                    31996
29     Europe                    Spain                    28358
32     Europe                    Malta                    27326
33     Europe                   Cyprus                    25380
36     Europe                 Slovenia                    23654
37     Europe                 Portugal                    21158
39     Europe           Czech Republic                    20401
40     Europe                  Estonia                    19735
41     Europe                   Greece                    18637
43     Europe                 Slovakia                    17655
47     Europe                Lithuania                    16730
52     Europe                   Latvia                    15550
57     Europe                  Hungary                    14209
58     Europe                   Poland                    13821
59     Europe                  Croatia                    13271
63     Europe                   Russia                    10955
64     Europe                  Romania                    10785
75     Europe                 Bulgaria                     8077
77     Europe               Montenegro                     7678
89     Europe                   Serbia                     5901
91     Europe                  Belarus                     5727
95     Europe                Macedonia                     5474
98     Europe   Bosnia and Herzegovina                     5180
103    Europe                  Albania                     4544
113    Europe                   Kosovo                     3944
131    Europe                  Ukraine                     2583
135    Europe                  Moldova                     2280

We can quickly get our median and upper and lower quartiles using the pandas ".describe" function.

In [5]:
europe_set.describe()

       Per_Cap_GDP_Nom_Dollars
count                43.000000
mean              30337.581395
std               24854.225944
min                2280.000000
25%               10870.000000
50%               21158.000000
75%               46637.000000
max              105863.000000

As you can see above the median GDP for the countries in Europe is $21,158, which is Portugals GDP.

We can view the halves of the dataset by cutting along the median:

In [6]:
print("Upper Half")
europe_set_uphalf = europe_set.loc[europe_set["Per_Cap_GDP_Nom_Dollars"] > 21158]
europe_set_uphalf

Upper Half

   Continent Country_Territory  Per_Cap_GDP_Nom_Dollars
2     Europe        Luxembourg                   105863
3     Europe       Switzerland                    80637
4     Europe            Norway                    75389
5     Europe           Iceland                    70248
6     Europe           Ireland                    68710
10    Europe           Denmark                    56630
11    Europe         Australia                    55692
12    Europe            Sweden                    52925
13    Europe       Netherlands                    48555
14    Europe        San Marino                    47595
15    Europe           Austria                    47347
16    Europe           Finland                    45927
18    Europe           Germany                    44769
19    Europe           Belgium                    43488
22    Europe            France                    39932
23    Europe    United Kingdom                    39800
26    Europe             Italy                    31996
29    Europe             Spain                    28358
32    Europe             Malta                    27326
33    Europe            Cyprus                    25380
36    Europe          Slovenia                    23654

In [7]:
print("Lower Half")
europe_set_lowerhalf = europe_set.loc[europe_set["Per_Cap_GDP_Nom_Dollars"] < 21158]
europe_set_lowerhalf

Lower Half

    Continent        Country_Territory  Per_Cap_GDP_Nom_Dollars
39     Europe           Czech Republic                    20401
40     Europe                  Estonia                    19735
41     Europe                   Greece                    18637
43     Europe                 Slovakia                    17655
47     Europe                Lithuania                    16730
52     Europe                   Latvia                    15550
57     Europe                  Hungary                    14209
58     Europe                   Poland                    13821
59     Europe                  Croatia                    13271
63     Europe                   Russia                    10955
64     Europe                  Romania                    10785
75     Europe                 Bulgaria                     8077
77     Europe               Montenegro                     7678
89     Europe                   Serbia                     5901
91     Europe                  Belarus                     5727
95     Europe                Macedonia                     5474
98     Europe   Bosnia and Herzegovina                     5180
103    Europe                  Albania                     4544
113    Europe                   Kosovo                     3944
131    Europe                  Ukraine                     2583
135    Europe                  Moldova                     2280

#### 1.2.1.2 First and Third Quartiles

The First and Third Quartiles can be found by getting the medians of the values above and below the median of the entire range. The First Quartile is the median of the Lower Half of the data. The Third Quartile is the median of the Upper Half.

We already got these numbers using the Pandas ".describe" function above. The list of countries in the Third and First quartiles are shown below.

In [8]:
print("Third Quartile")
europe_thirdQ = europe_set.loc[europe_set["Per_Cap_GDP_Nom_Dollars"] >= 46637]
europe_thirdQ

Third Quartile

   Continent Country_Territory  Per_Cap_GDP_Nom_Dollars
2     Europe        Luxembourg                   105863
3     Europe       Switzerland                    80637
4     Europe            Norway                    75389
5     Europe           Iceland                    70248
6     Europe           Ireland                    68710
10    Europe           Denmark                    56630
11    Europe         Australia                    55692
12    Europe            Sweden                    52925
13    Europe       Netherlands                    48555
14    Europe        San Marino                    47595
15    Europe           Austria                    47347

In [9]:
print("First Quartile")
europe_firstQ = europe_set.loc[europe_set["Per_Cap_GDP_Nom_Dollars"] <= 10870]
europe_firstQ

First Quartile

    Continent        Country_Territory  Per_Cap_GDP_Nom_Dollars
64     Europe                  Romania                    10785
75     Europe                 Bulgaria                     8077
77     Europe               Montenegro                     7678
89     Europe                   Serbia                     5901
91     Europe                  Belarus                     5727
95     Europe                Macedonia                     5474
98     Europe   Bosnia and Herzegovina                     5180
103    Europe                  Albania                     4544
113    Europe                   Kosovo                     3944
131    Europe                  Ukraine                     2583
135    Europe                  Moldova                     2280

#### 1.2.2 Interquartile Range

The Interquartile Range is the data between the First and Third Quartile. This is basically the middle 50% of the data. See below:

In [15]:
print("Inter Quartile Range")
europe_IQR = europe_set.query("Per_Cap_GDP_Nom_Dollars > 10870 & Per_Cap_GDP_Nom_Dollars < 46637")
europe_IQR

Inter Quartile Range

   Continent Country_Territory  Per_Cap_GDP_Nom_Dollars
16    Europe           Finland                    45927
18    Europe           Germany                    44769
19    Europe           Belgium                    43488
22    Europe            France                    39932
23    Europe    United Kingdom                    39800
26    Europe             Italy                    31996
29    Europe             Spain                    28358
32    Europe             Malta                    27326
33    Europe            Cyprus                    25380
36    Europe          Slovenia                    23654
37    Europe          Portugal                    21158
39    Europe    Czech Republic                    20401
40    Europe           Estonia                    19735
41    Europe            Greece                    18637
43    Europe          Slovakia                    17655
47    Europe         Lithuania                    16730
52    Europe            Latvia                    15550
57    Europe           Hungary                    14209
58    Europe            Poland                    13821
59    Europe           Croatia                    13271
63    Europe            Russia                    10955

### 1.3 Limitations of the boxplot

## 2.0 Box Plot Uses

In [ ]:
gdp_percountry.describe()

#### Seaborn Boxplot

Seaborns boxplot is locked in it approach to whiskers. Whiskers are not the max and min, instead they are values outside the upper quartile.

In [ ]:
sns.boxplot(x="Continent", y="Per_Cap_GDP_Nom_Dollars", data=gdp_percountry)

In [ ]:
sns.boxplot(x="Continent", y="Per_Cap_GDP_Nom_Dollars", data=gdp_percountry)
sns.swarmplot(x="Continent", y="Per_Cap_GDP_Nom_Dollars", data=gdp_percountry, color=".25")